{% extends 'lol.html' %}


{% block name %}
{{ name }}
{% endblock %}

{% csrf_token %} <!-- места где вам нужно чётко знать что человек пытаеться получить доступ к информации то каторый изначально заходил , ему у него поевлеиться свой csrf_token и вам нужно в таких местах, допусьтим отправка формы, вам нужно написать перед формой, без этого не будет работать формы, регистрации, авторизацияи, оплаты -->

{% if user.is_authenticated %}

{% endif %} <!-- Также из важного, иногда нужновам отобрть какие - то блоки, когда пользователь уже зашёл в свою страничку, это можно релизовать такой строчкой {% if user.is_authenticated %}  {% endif %} , эта строчка позволяет отобрать данные, что внутри неё только для аутенфицированнойся пользавотелей, тоесть для тех кто залагинелся.авторизовался у вас